* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-size: 18px;
}

body {
  background-color: var(--color-bg);
  background-image: url('../../background.jpg');
  background-size: cover;
}

.loader, footer {
  color: var(--text-white);
}