* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-size: 18px;
}

body {
  background-color: #1e2127;
  background-image: url('../../background.jpg');
  background-size: cover;
}

.loader, footer {
  color: rgb(226, 226, 226);
}