li {
	list-style: none;
	font-family: 'Share Tech Mono', monospace;
	color: gold;
	margin: 0 0 25px;
}

.crossRef {
	text-decoration: underline;
}
.crossRef:hover {
	cursor: pointer;
}

.stats {
	text-align: left;
	padding-left: 25%;
}