* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Distant-Galaxy';
  src: url('sf_distant_galaxy_outline.ttf')
}

.App {
  text-align: center;
  font-family: 'Share Tech', sans-serif;
  font-size: 18px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  font-family: 'Distant-Galaxy', 'Teko', sans-serif;
  background-color: #1e2127;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: yellow;
  letter-spacing: 2px;
}

body {
  background-color: #1e2127;
  background-image: url('background.jpg');
  background-size: cover;
}

.loader, footer {
  color: rgb(226, 226, 226);
}