@font-face {
  font-family: 'Distant-Galaxy';
  src: url('sf_distant_galaxy_outline.ttf')
}

body {
  margin: 0;
  font-family: 'Share Tech', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
